<!DOCTYPE html>
<html>
  <head>
    <title>PhotoSharingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="container">
  <header>
  <%= render "shared/header"%>
  <header>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>

  <% if logged_in? %>
  <%= link_to "Profile", user_path(current_user.id) %>
  <%= link_to "Logout", session_path(current_user.id), method: :delete %> 
  <%= link_to "blogs", blogs_path %> 
  # ログインしている場合
<% else %>
　　　# ログインしていない場合
<%= link_to "Sign up", new_user_path %>
<%= link_to "Login", new_session_path %>
<% end %>

　　
    <main>
    <%= yield %>
    </main>

    <footer>
    <%= render "shared/footer"%>
    </footer>   

  </body>
</html>
